name: pytest

on:
  push:
    branches: [main]
  pull_request:
    branches: [main]
  workflow_dispatch:

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

jobs:
  all-tests:
    runs-on: ${{ matrix.os }}
    strategy:
      fail-fast: false
      matrix:
        os: [ubuntu-latest, macos-latest, windows-latest]
        python-version: ['3.9', '3.10', '3.11', '3.12', '3.13']
    steps:
      - name: Clone repo
        uses: actions/checkout@v4

      - uses: actions/setup-python@v5
        with:
          python-version: ${{ matrix.python-version }}

      - name: Install dependencies (Linux/macOS)
        if: matrix.os != 'windows-latest'
        run: |
          pip install uv pytest && uv pip install --system ".[dev,dask,ray]"

      - name: Install dependencies (Windows)
        if: matrix.os == 'windows-latest'
        run: |
          pip install uv pytest && uv pip install --system ".[dev,dask,ray]"

      - name: Install lightgbm on macOS
        if: matrix.os == 'macos-latest'
        run: |
          # install brew first
          /bin/bash -c "$(curl -fsSL https://raw.githubusercontent.com/Homebrew/install/HEAD/install.sh)"
          brew install lightgbm

      - name: Run pytest
        run: uv run pytest

