name: Release

on:
  push:
    tags:
      - 'v*'

defaults:
  run:
    shell: bash -l {0}

jobs:
  release:
    if: github.repository == 'Nixtla/mlforecast'
    runs-on: ubuntu-latest
    permissions:
      id-token: write    
    steps:
      - name: Clone repo
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1

      - name: Set up python
        uses: actions/setup-python@a309ff8b426b58ec0e2a45f0f869d46889d02405 # 6.2.0
        with:
          python-version: '3.10' 

      - name: Install build dependencies
        run: python -m pip install build wheel

      - name: Build distributions
        run: python -m build -sw

      - name: Publish package to PyPI
        uses: pypa/gh-action-pypi-publish@ed0c53931b1dc9bd32cbe73a98c7f6766f8a527e # v1.13.0
